################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UiPathTeam.RunWithTimeout.Activities/v15
/UiPathTeam.RunWithTimeout.Activities/obj/Debug
/UiPathTeam.RunWithTimeout.Activities/bin/Debug
/UiPathTeam.RunWithTimeout.Activities.Tests/obj/Debug
/UiPathTeam.RunWithTimeout.Activities.Tests/bin/Debug
